

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex
    ;
    justify-content:space-between ;
    align-items: center;
    margin: 0 200px;
}
.navtitle{
    color: var(--Dark-01, #181818);
font-size: 45px;
font-style: normal;
font-weight: 800;
}
.orangtext{
    color: #FD6E0A;

}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    /* align-items: center; */
}
nav a{
    text-decoration: none;
    color: var(--Dark-02, #474747);
}
.btn{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: var(--White-Color, #FFF);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700
padding: 15px 36px;

}
/* header related style */
.head{
    background-color: #FFF8F3;
    background-image: url(../image/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.banner .profilepic{

width: 584px;
height: 676px;
flex-shrink: 0;
}
.greeting{
    font-size: 45px;
    color: var(--Dark-02, #474747);
margin-bottom: 0px;

}
.title{

font-size: 85px;

font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;

}
.discription{
    color: var(--Dark-03, #757575);

font-size: 18
font-weight: 400;
margin-top:0px;
margin-bottom:30px;


}
.content{
    max-width: 500px;}
    /* main section */
    main{
        max-width: 1140px;
        /* justify-content: center; */
        margin: 0 auto;
    }

.sectitle{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.about{
    padding: 130px;
    text-align: center;
    margin: 130px 0;
    border-radius: 10px;
background: #FFF8F3;

}
.secti2{
    text-align: center;
}

.secdescrip{
    color: var(--Dark-03, #757575);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
}
.aboutinfo-contain{
    display: flex;
    justify-content: space-around;
}
.abtinfo{
    text-align: center;
    /* margin-left: 50px;
    margin-right: 50px; */
}
main section{
    margin-top: 130px;
}
.sectidis{
    padding: 30px 150px;
}
/* skill style */
.skill-container{
    padding: 30px 150px;
    display: flex;
}
.skill{
    /* display: flex; */
    padding: 33px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.skilldescrip{
    gap: 24px;
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
/* resume */
.section-title{
    text-align: center;
}
/* resum */
.resume-column-title{
    color: var(--Dark-02, #474747);
font-size: 30px;
font-weight: 700;

}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-column-title{
    color: var(--Dark-02, #474747);
font-size: 25px;
font-weight: 700;
}
.resume-column-description{
    color: var(--Dark-03, #757575);
font-size: 16px;
font-weight: 400;

}
.resume-item-institute{
    color: var(--Dark-03, #757575);
font-size: 20px;
font-weight: 600;
}
.resume-item-title{
    color: var(--Dark-02, #474747);
font-size: 25px;
font-weight: 700;
}
.resume-container hr{
    margin: 30px;
}
.download{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}
.footer-column{
    width: 100px;
    
}
.contact  input, textarea{
   display: block;
   margin-bottom: 25px;
   padding: 18px 35px;

color:  #757575);
border-radius: 5px;
background: var(--White-Color, #FFF);
border: 0;
width:100%;
}
.btn-again{
    border-radius: 5px;
background: #FD6E0A;
width: 150px;
height: 64px;
flex-shrink: 0;
}
/* .footer-column{
    text-align: center;
} */
